<div class="activation container-fluid mt-5">
  <div class="activation__header">
    <h3 class="activation__header--title">Get your Free AI Activation Key</h3>
    <p class="activation__header--subtitle my-4">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English.
    </p>
  </div>

  <div class="activation__body">
    <h4 class="activation__body--title mt-4 mb-3">Download tools</h4>
    <div class="activation__body--content w-75">
      <div
        class="activation__body--item d-flex align-items-center justify-content-between"
      >
        <span>Tool Name</span>
        <div class="activation__body--item--btn">
          <button class="btn">
            <i class="fas fa-cloud-download-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="activation__body--content w-75">
      <div
        class="activation__body--item d-flex align-items-center justify-content-between"
      >
        <span>Tool Name</span>
        <div class="activation__body--item--btn">
          <button class="btn">
            <i class="fas fa-cloud-download-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="activation__body--content w-75">
      <div
        class="activation__body--item d-flex align-items-center justify-content-between"
      >
        <span>Tool Name</span>
        <div class="activation__body--item--btn">
          <button class="btn">
            <i class="fas fa-cloud-download-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="activation__body--content w-75">
      <div
        class="activation__body--item d-flex align-items-center justify-content-between"
      >
        <span>Tool Name</span>
        <div class="activation__body--item--btn">
          <button class="btn">
            <i class="fas fa-cloud-download-alt"></i>
          </button>
        </div>
      </div>
    </div>

    <div
      class="activation__footer d-flex align-items-center justify-content-between mt-4"
    >
      <button class="btn btn-primary">Download All</button>
    </div>
  </div>
</div>
